<h1>Result</h1>
<br />
出た目は<b><%= @number %></b>です！
<br /><br />
チーム<b><%= @team_name %></b>の次の目的地は<b><%= @dest_name %></b>です。
<br /><br />
あなたへの司令は <b><%= @task_title  %></b> です！！
<br /><br />

<%= form_for(@dest_name) do |f| %>
  <%= link_to '完了', {:controller => 'dice', :action => 'index'}, :style => 'button' %>
<% end %>
